/* TODO: design your profile with CSS */
h1, h2 {
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #ddd;
}

.btn-blue {
  text-decoration: none;
  background-color: #033540;
  color: white;
  font-weight: bold;
  padding: 8px 16px;
  border-radius: 4px;
}

.btn-blue:hover {
  background-color: #0c5666;
}

.card-white {
  background-color: #fff;
  padding: 24px;
  text-align: center;
  box-shadow: 0 10px 30px rgb(0 0 0 / 10%);
  width: 900px;
  margin: 24px auto;
  border-radius: 4px;
}

.avatar {
  width: 150px;
  border-radius: 100px;
}

.list-inline {
  list-style: none;
  padding: 0;
}

.list-inline li {
  display: inline-block;
}

.social-link {
  color: #033540;
  font-size: 40px;
  margin: 1em;
}

.social-link:hover {
  color: #0c5666
}
